<div id="about-container">
  <div id="about-container-inner">
      <app-header></app-header>
      <div class="about-content">
          <div class="banner">
              <h2 class="drop-shadow">About Us</h2>
              <p class="drop-shadow">This assignment was created by Matthew Shambley</p>
              <p class="drop-shadow">It was created for IS183 at Calinfornia State University, Fresno</p>
              <button class="btn btn-primary drop-shadow">Learn more</button>
          </div>
          <div class="bottom-container">
              <div class="pic-container">
                      <img src="../../assets/img/me.jpg" class="bio-image" alt="my pic">
              </div>
              <div class="bio-description">
                  <h2>About Me</h2>
                  <p>I am a student just trying to make it through school and one day want to open my own
                      business. This class is helping me to improve my understanding of coding and giving me the ability to program my own website for my business. Things that I want to improve on while taking this clas is being able to do the layout fast and find easier ways to make my webpages look like I want them to look.</p>
              </div>
          </div>
      </div>
  </div>
</div>